@{
    ViewData["Title"] = "Acerca del Desarrollador";
}

<link rel="stylesheet" href="/css/privacy.css">

<div class="container mt-5">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8 text-center">
            <h2>Acerca del Desarrollador</h2>
            <p class="mt-4">
                Aplicación desarrollada por <strong>Emanuel Téllez Enríquez</strong>, Ingeniero de Software con experiencia en desarrollo de software, especializado en tecnologías .NET y apasionado por crear soluciones innovadoras.
            </p>
            <p>
                Puedes conocer más sobre su experiencia y trayectoria en su perfil de LinkedIn.
            </p>
            <a href="https://www.linkedin.com/in/emanuel-tellez-enriquez/" target="_blank" class="btn btn-primary">
                Ir al perfil de LinkedIn
            </a>
        </div>
    </div>
</div>
